<!DOCTYPE html>
<html>
  <head>
    <title>Reddit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>
  <header>
    <% if logged_in? %>
      <h1>Welcome to Reddit <%# @current_user.username %></h1>
    <% end %>
  </header>
  <body>
    <%= flash[:errors] %>
    <%= yield %>
  </body>
</html>
